<section class="px-6 md:px-12 py-16 md:py-24 lg:px-60">
  <div class="flex flex-col md:flex-row items-center w-full gap-10 md:gap-12">

    <!-- TEXTE -->
    <div class="w-full md:w-1/2 flex flex-col gap-6 text-center md:text-left items-center md:items-start">

      <h1 class="text-3xl md:text-4xl lg:text-5xl font-extrabold leading-tight text-gray-900"
          appScrollReveal revealDirection="right" revealDelay="100ms">
        A <span class="text-[#73B51B]">propos</span>
      </h1>

      <p class="text-gray-500 text-base text-justify md:text-lg leading-relaxed" appScrollReveal revealDirection="up" revealDelay="200ms">
        Nous sommes une équipe passionnée par les technologies et l’optimisation du travail collaboratif. À travers ce projet, nous avons voulu répondre à un problème simple : la dispersion des outils qui rend la gestion de projet complexe et inefficace.

        <br/> Notre application est une solution de gestion de projets qui permet aux équipes de mieux s’organiser, collaborer facilement et suivre l’avancement des tâches en temps réel.

      </p>


    </div>

    <!-- IMAGE + SHAPE -->
    <div class="relative w-full md:w-1/2 flex justify-center"
         appScrollReveal revealDirection="left" revealDelay="0ms">

      <!-- Forme orange -->
      <div class="absolute -top-6 -left-6 md:-top-10 md:-left-10 w-28 h-28 md:w-44 md:h-44 bg-[#ED8124] rounded-[40px] -z-10"></div>

      <!-- Image -->
      <img
        src="about.jpeg"
        alt="A propos"
        class="object-cover rounded-2xl shadow-lg w-full h-56 md:h-auto md:w-[38vw] md:max-w-[500px] md:max-h-[400px]"
      />

      <!-- Forme verte -->
      <div class="absolute -bottom-6 -right-6 md:-bottom-10 md:-right-10 w-28 h-28 md:w-44 md:h-44 bg-[#73B51B] rounded-[40px] -z-10"></div>

    </div>

  </div>
</section>
