/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}


.nav-link {
  @apply relative pb-2 text-black transition-colors duration-300
  hover:text-[#73B51B]
  after:content-['']
  after:absolute
  after:left-0
  after:bottom-0
  after:h-[2px]
  after:w-full
  after:bg-[#ED8124]
  after:scale-x-0
  after:origin-left
  after:transition-transform
  after:duration-300
  hover:after:scale-x-100;
}

.mobile-link {
  @apply flex items-center text-black py-1 px-1 rounded-lg
  transition-colors duration-300
  hover:text-[#73B51B] hover:bg-[#73B51B]/10;
}


@keyframes scrollUp {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

@keyframes scrollDown {
  0%   { transform: translateY(-50%); }
  100% { transform: translateY(0); }
}

.scroll-col-up {
  animation: scrollUp 35s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.scroll-col-down {
  animation: scrollDown 35s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}
